@import '../vars/colors';

@mixin container($border: false, $centered: true, $borderColor: white, $borderWidth: 1px){
    width: 100%;
    padding: 20px;
    @if $border {
        border: $borderWidth solid map-get($colors, $borderColor);
    }
    @if $centered {
        text-align: center;
    } @else {
        text-align: left;
    }

    @media only screen and (max-width: 400px) {
        padding: 15px;
    }
}

@mixin flex($column: false) {
    display: flex;

    @if $column {
        flex-direction: column;
    }
}