@import '../../mixins/layout';
@import '../../mixins/setColors';
@import '../../vars/colors';
@import '../../mixins/setBackground';
.form {
    @include container(true, false, dark, 3px);
    border-radius: 10px;
    @include setBackground(semiLight, .5);
    max-width: 80vw;
    margin: 0 auto;

    @media only screen and (max-width: 600px) {
        max-width: 90vw;
    }
}

.field {
    @include container(false, false);
    padding-bottom: 0;
}

.control {
    margin-top: .3em;
    text-align: center;
}

.input-wrapper {
    @include container(false, false);
    padding: 10px;
    border-radius: 5px;
    &.error {
        @include setBackground(red, .2);
    }
    &.warning {
        @include setBackground(yellow, .2);
    }
}

.label {
    padding-left: 10px;
    font-weight: 700;
    font-size: 1.2em;
}

.input {
    width: 100%;
    padding: 10px;
    font-size: 1.25em;
    border-radius: 5px;
}

.button {
    padding: 20px;
    font-size: 1.25em;
    @include setColors(dark, light);
    border: none;
    cursor: pointer;
    &.loading {
        @include setColors(gray, dark);
    }
}

.form-field-error {
    display: block;
    padding-top: 10px;
    &.error {
        color: map-get($colors, red);
    }
    &.warning {
        color: map-get($colors, yellow);
    }
}

.checkbox {
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 15px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
}

.checkbox:active,
.checkbox:focus,
.checkbox:checked:active,
.checkbox:checked:focus {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.checkbox:checked {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
    color: #99a1a7;
}

.checkbox:checked:after {
    content: '\2714';
    font-size: 23px;
    position: absolute;
    top: -2px;
    left: 7px;
    color: map-get($colors, dark);
}

.form-instructions {
    margin: 20px;
    padding: 20px;
    border: 2px solid map-get($colors, dark);
    @include setBackground(dark, .25);
    font-size: 1.5em;
    line-height: 1.5em;

    @media only screen and (max-width:600px)
     {
         padding: 10px;
         font-size: 1em;
         line-height: 1.2em;
     }
}