@import '../helpers/mixins/layout';
@import '../helpers/mixins/setColors';
// react-burger-menu styling
.bm-burger-button {
    position: absolute;
    width: 26px;
    height: 20px;
    right: 20px;
    top: 20px;
    .bm-burger-bars {
        background: map-get($colors, tagPink);
    }
}

.bm-burger-button:hover, .bm-burger-button:active, .bm-burger-button:focus, .bm-burger-button:focus-within {
    .bm-burger-bars {
        background: map-get($colors, tagGreen);
        opacity: 1 !important;
    }
}

.bm-cross-button {
    height: 24px;
    width: 25px;
}

.bm-cross {
    background: map-get($colors, ideBGDark);
}

.bm-menu {
    background: map-get($colors, tagPink);
    padding-top: 40px;
}

.bm-item {
    padding: 20px;
    text-decoration: none;
    color: map-get($colors, lessBlack);
    font-weight: 600;
}

.bm-item:hover, .bm-item:active, .bm-item:focus {
    background-color: map-get($colors, tagGreen);
    font-weight: 800;
    box-shadow: 0px 0px 20px rgba(map-get($colors, ideBGDark), .5);
}