$colors: (
    dark: #125E91,
    semiDark: #63D2FF,
    medium: #78D5D7,
    semiLight: #BED8D4,
    light: #F7F9F9,
    white: #F7F9F9,
    black: #000000,
    red: #BB0A21,
    yellow: #CF8A25,
    gray: gray,
    tagPink: #e06c75,
    tagOrange: #d19a66,
    tagGreen: #98c379,
    ideBGDark: #282c34,
    lessBlack: #1c1f25
);