$colors: (
    white: #E9E9E9,
    black: #1c1f25,
    red: #BB0A21,
    yellow: #CF8A25,
    gray: gray,
    tagPink: #FF6486,
    tagOrange: #FC9967,
    tagGreen: #A3DC77,
    tagYellow: #FDD967,
    tagPurple: #AD99F1,
    tagBlue: #78DAE7,
    ideBG: #221D23,
);