@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i');
@import '../vars/colors';
html,
body {
    font-family: 'IBM Plex Mono', 'Courier New', Courier, monospace;
    color: map-get($colors, tagBlue);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6em;
    letter-spacing: 1px;
}

p+p {
    text-indent: 0;
    margin-top: 0;
}

.tag-name {
    color: map-get($colors, tagPink);
}

.attr-name {
    color: map-get($colors, tagOrange);
}

.attr-value {
    color: map-get($colors, tagGreen);
}

.tag-content {
    padding-left: 40px;
}